*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
}
footer{
    background-color:rgb(226, 218, 209);
    text-decoration: none;
}
footer a{
    text-decoration: none;
}
}
.container1{
    background-color: #decaca;
    display:flex;
}
.container1 img{
    width: 350px;
    height: 250px;
    margin: 2% 6% ;
}
.container1 .title{
    padding : 10% 15%;
}
.container2{
    background-color: #a58f8f;
    display:flex;
}
.container2 img{
    width: 350px;
    height: 200px;
    margin: 2% 6%;
}
.container2 .title{
    padding: 10% 15%;
}
.container3{
    background-color: #646262;
    display:flex;
}
.container3 img{
    width: 350px;
    height: 200px;
    margin: 2% 6%;
}
.container3 .title{
    padding: 10% 15%;
}
.container4{
    background-color: #bcb9b9;
    display:flex;
}
.container4 img{
    width: 350px;
    height: 200px;
    margin: 2% 6%;
}
.container4 .title{
    padding: 10% 15%;
}

